<!DOCTYPE html>
<html>
<head>
  <title>Mondo Expenses</title>
  <link rel='stylesheet' type='text/css' href='bootstrap/dist/css/bootstrap.css'></link>
  <style>
  .container {
    max-width: 750px;
  }
  .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li img {
    width: 75px;
    height: 75px
  }
  li {
    margin-bottom: 10px;
  }
  .price {
    text-align: right;
  }
  .logo {
    text-align: center;
  }
  </style>
</head>
<%
  function amount(value) {
    return '£' + (value / 100).toFixed(2);
  }
%>
<body class='container'>
  <div class='jumbotron'>
    <h2>Hello <%= account.description %></h2>
    <p>Account Balance: <%= amount(balance.balance) %></p>
  </div>
  <ul>
    <%
      for(var i = 0; i < transactions.length; i++) {
        var transaction = transactions[i];
        var merchant = transaction.merchant;
    %>
      <li class='row'>
        <div class='col-md-2 logo'>
          <img src='<%= merchant.logo %>'/>
        </div>
        <div class='col-md-5'>
          <h3><%= merchant.name %></h3>
          <p><%= transaction.notes %></p>
        </div>
        <h3 class='col-md-3 price'>
          <% if (transaction.local_currency !== transaction.currency) { %>
            <%= (-transaction.local_amount / 100).toFixed(2) %>
            <small><%= transaction.local_currency %></small>
          <% } %>
        </h3>
        <h3 class='col-md-2 price'>
          <%= (-transaction.amount / 100).toFixed(2) %>
        </h3>
      </li>
    <% } %>
  </ul>
  <script>
  document.addEventListener('copy', function(e){
    e.clipboardData.setData('text/plain', `<%=
      transactions.map(t =>
        [
          t.merchant.name,
          'Food',
          t.created.substr(0, 10),
          '',
          '',
          '',
          '',
          '',
          'Y',
          amount(-t.amount)
        ].join('\t')
      )
      .join('\n')
    %>`);
    e.preventDefault();
  });
  </script>
</body>
</html>
